@charset "UTF-8";

body {
	background: #fcfed0;
}

.alink {
	text-decoration: none;
	background-color: #ddd;
	border: 1px dotted red;
	background-color: #ddd;
	padding: 5px;
}

.alink:hover {
	background-color: #eee;
}
